@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Your custom colors */
  --color-primary-white: #ffffff;
  --color-secondary-dark: #ffb901;
  --color-secondary-light: #fff4d8;
  --color-font-gray: #262622;
  --color-font-white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Your custom colors */
  --color-primary-white: var(--color-primary-white);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-secondary-light: var(--color-secondary-light);
  --color-font-gray: var(--color-font-gray);
  --color-font-white: var(--color-font-white);
  
  /* Font families */
  --font-family-heading: 'Space Grotesk', sans-serif;
}

/* Prevent horizontal scrolling */
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

/* Reusable heading font utility */
.heading-font {
  font-family: var(--font-family-heading)
}

/* Ensure all elements stay within viewport */
* {
  box-sizing: border-box;
}

/* Heading font class */
